In [17]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv('Covid 19 Data.csv')
df.head(5)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [19]:
df.shape
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [20]:
df.describe(include='all')

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
count,14664,49068,49068.000000,49068.000000,49068,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04,49068
unique,78,187,NaN,NaN,188,NaN,NaN,NaN,NaN,6
top,Australian Capital Territory,China,NaN,NaN,2020-01-22,NaN,NaN,NaN,NaN,Europe
freq,188,6204,NaN,NaN,261,NaN,NaN,NaN,NaN,15040
mean,NaN,NaN,21.433730,23.528236,NaN,1.688490e+04,884.179160,7.915713e+03,8.085012e+03,NaN
std,NaN,NaN,24.950320,70.442740,NaN,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04,NaN
min,NaN,NaN,-51.796300,-135.000000,NaN,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01,NaN
25%,NaN,NaN,7.873054,-15.310100,NaN,4.000000e+00,0.000000,0.000000e+00,0.000000e+00,NaN
50%,NaN,NaN,23.634500,21.745300,NaN,1.680000e+02,2.000000,2.900000e+01,2.600000e+01,NaN
75%,NaN,NaN,41.204380,80.771797,NaN,1.518250e+03,30.000000,6.660000e+02,6.060000e+02,NaN
max,NaN,NaN,71.706900,178.065000,NaN,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,NaN

In [21]:
# Converting Date datatype to date

df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

In [22]:
# Standardizing text Columns(Remove extra Space And convert names to tite case)
df['Country/Region'] = df['Country/Region'].str.strip().str.title()

In [23]:
# Converting Numeric Columns into Integers

num_cols = ['Confirmed','Deaths','Recovered','Active']
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

In [24]:
# Cleaned  Text Columns 
text_cols = ['Province/State','Country/Region','WHO Region']
for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()
    df[col] = df[col].replace({'Nan': None})   # convert 'nan' strings to actual NaN

In [25]:
# Check Which Country Have how manys time Negative value

df[df['Active'] < 0].groupby('Country/Region').size()

Country/Region
China             9
Liechtenstein     1
Uganda            1
United Kingdom    7
dtype: int64

In [26]:
# Replacing Negative value to Zeroes 

df['Active'] = df['Confirmed'] - df['Deaths'] - df['Recovered']
df['Active'] = df['Active'].apply(lambda x: max(x, 0))
df[df['Active'] < 0]

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, Date, Confirmed, Deaths, Recovered, Active, WHO Region]
Index: []

In [27]:
df['WHO Region'] = df['WHO Region'].fillna('Unknown')

In [28]:
df.rename(columns={
    'Country/Region': 'Country',
    'WHO Region': 'WHO_Region'
}, inplace=True)
df.head(10)

,Province/State,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,None,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,None,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,None,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,None,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,None,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa
5,None,Antigua And Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,0,Americas
6,None,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,0,Americas
7,None,Armenia,40.06910,45.038200,2020-01-22,0,0,0,0,Europe
8,Australian Capital Territory,Australia,-35.47350,149.012400,2020-01-22,0,0,0,0,Western Pacific
9,New South Wales,Australia,-33.86880,151.209300,2020-01-22,0,0,0,0,Western Pacific

In [29]:
df.drop(['Province/State','Lat','Long'], axis=1, inplace=True)

In [30]:
df.head(7)

,Country,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,2020-01-22,0,0,0,0,Europe
2,Algeria,2020-01-22,0,0,0,0,Africa
3,Andorra,2020-01-22,0,0,0,0,Europe
4,Angola,2020-01-22,0,0,0,0,Africa
5,Antigua And Barbuda,2020-01-22,0,0,0,0,Americas
6,Argentina,2020-01-22,0,0,0,0,Americas

In [35]:
# Connecting Python script to MYsql server
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# -------- DB Connection Settings --------
server = r'Gaurav\SQLEXPRESS'          
database = 'Covid_19'         
driver = quote_plus("ODBC Driver 17 for SQL Server")

# -------- Create engine for Windows Authentication --------
engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"
)
# -------- Write DataFrame to SQL Server --------
df.to_sql("Covid_19_Clean", engine, if_exists="replace", index=False)

32